:root {
    --bs-primary: #1abc9c;
    --bs-primary-rgb: 26, 188, 156;

    --my-primary-dark: #199f84;
    --my-primary-dark-rgb: 25, 159, 132;

    --bs-secondary: #3a546d;
    --bs-secondary-rgb: 58, 84, 109;

    --bs-dark: #2c3e50;
    --bs-dark-rgb: 44, 62, 80;
}



.my-bg-primary {
    background-color: var(--bs-primary);
}

.my-bg-secondary {
    background-color: var(--bs-secondary);
}

.section {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.star-hr {
    height: 4px;
    border-radius: 50px;
}

.my-title-style {
    text-transform: uppercase;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.my-subtitle-style {
    text-transform: uppercase;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.avatar-img {
    max-width: 200px;
    margin: 0 auto;
}

.portfolio-img {
    max-width: 50px;
}

.form-control {
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.btn-primary {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background-color: var(--my-primary-dark);
    border-color: var(--my-primary-dark);
    box-shadow: 0 0 0 0.25rem rgb(var(--bs-primary-rgb), 0.5);
}

.my-icon {
    width: 35px;
    aspect-ratio: 1/1;
}
.my-footer-icon {
    transform: translateX(100%) translateY(30%);
}