:root {
    --bs-primary: #1abc9c;
    --bs-primary-rgb: 26, 188, 156;

    --my-primary-dark: #199f84;
    --my-primary-dark-rgb: 25, 159, 132;

    --bs-secondary: #3a546d;
    --bs-secondary-rgb: 58, 84, 109;

    --bs-dark: #2c3e50;
    --bs-dark-rgb: 44, 62, 80;
}

.my-bg-primary {
    background-color: var(--bs-primary);
}

.my-bg-secondary {
    background-color: var(--bs-secondary);
}

.section {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.my-title-style {
    text-transform: uppercase;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.my-subtitle-style {
    text-transform: uppercase;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}



footer {
    background-color: #3A546D;
    color: white;
}

.avatar-img {
    max-width: 200px;
    margin: 0 auto;
}

.star-hr {
    height: 4px;
    border-radius: 50px;
}

.black-hr {
    background-color: black;
}

.portfolio-img {
    max-width: 50px;
}

.contact-borders {
    border: none;
}

.footer-border {
    display: flex;
    justify-content: center;
    border: 1px solid white;
    border-radius: 100%;
    width: 35px;
    aspect-ratio: 1/1;
    position: relative;
}

.footer-icon {
    position: absolute;
    top: 8px;
}